<!DOCTYPE html>
<html>
<head>
  <title>ChatSpace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

  <header>
  チャットグループが作成されました。
  </header>
  <body>
      <div class="contents clearfix">
                  <div class="left-block">
                        <div class="left-upper">
                          name
                            <i class="fa fa-gear fa-spin fa-fw"></i>
                            <i class="fa fa-pencil-square-o fa-fw"></i>
                        </div>
                                <div class="left-lower">
                                      <ul>
                                        <li class="group_name">group_name</li>
                                        <li class="last_chat">last_chat</li>
                                      </ul>
                                </div>
                  </div>
        <div class="right-block">
                <div class="right-block-upper">
                          <div class="edit-bottom">Edit
                          </div>
                              <ul>
                                <li class="group_name">group_name</li>
                                <li class="surname_name">Member：<%= @name %></li>
                              </ul>
                </div>
                <div class="right-block-lower">
                      <%= yield %>
                            <div class="surname_name">Member</div>
                              <p>reg_time</p>
                            <div class="chachachat">
                              You can say what you like.
                            </div>
                            <div class="surname_name">Member</div>
                              <p>reg_time</p>
                            <div class="chachachat">
                              Go forward. Without fear of losing.
                            </div>
                            <div class="surname_name">Member</div>
                              <p>reg_time</p>
                            <div class="chachachat">
                              You can say what you like.
                            </div>
                </div>
                <footer>
                  <div class="send-bottom">Send</div>
                        <div class="type-message">Commit with your message.
                          <!-- <button class="btn edit"> -->
                            <i class="fa fa-photo fa-fw"></i>
                          <!-- </button> -->
                        </div>
                        <div src="imag"></div>
                </footer>
        </div>
      </div>
</body>
</html>
