!!!
%html
  %head
    %title ChatSpace
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      チャットグループが作成されました。
    .contents.clearfix
      .left-block
        .left-upper
          name
          %i.fa.fa-gear.fa-spin.fa-fw
          %i.fa.fa-pencil-square-o.fa-fw
        .left-lower
          %ul
            %li.group_name group_name
            %li.last_chat last_chat
      .right-block
        .right-block-upper
          .edit-bottom
            Edit
          %ul
            %li.group_name group_name
            %li.surname_name
              Member：#{@name}
        .right-block-lower
          = yield
          .surname_name Member
          %p reg_time
          .chachachat
            You can say what you like.
          .surname_name Member
          %p reg_time
          .chachachat
            Go forward. Without fear of losing.
          .surname_name Member
          %p reg_time
          .chachachat
            You can say what you like.
        %footer
          .send-bottom Send
          .type-message
            Commit with your message.
            / <button class="btn edit">
            %i.fa.fa-photo.fa-fw
            / </button>
          %div{:src => "imag"}
